.ol-zoom { top:40px; display:none; }

.alatu-control {position: relative;	z-index: 800;pointer-events: auto;}
.alatu-top,.alatu-bottom {position: absolute;z-index: 1000;	pointer-events: none;}

.alatu-top {top:40px; }
.alatu-right { right:0; }
.alatu-bottom { bottom:0; }
.alatu-left {left:0; }

.alatu-control { float:left; clear:both; }
.alatu-right .alatu-control { float:right; }
.alatu-top .alatu-control { margin-top:10px; }
.alatu-bottom .alatu-control { margin-bottom:10px; }
.alatu-left .alatu-control { margin-left:10px; }
.alatu-right .alatu-control { margin-right:10px; }

.alatu-container {background: #ddd;	outline: 0;	}
.alatu-container a {color: #0078A8;	}
.alatu-container a.alatu-active {outline: 2px solid orange;	}
.alatu-zoom-box {border: 2px dotted #38f;background: rgba(255,255,255,0.5);	}


/* general typography */
.alatu-container {font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;}


/* general toolbar styles */

.alatu-bar {box-shadow: 0 1px 5px rgba(0,0,0,0.65);	border-radius: 4px;	}
.alatu-bar a,
.alatu-bar a:hover {background-color: #fff;	border-bottom: 1px solid #ccc;width: 26px;height: 26px;line-height: 26px;display: block;text-align: center;text-decoration: none;color: black;	}
.alatu-bar a,
.alatu-control-layers-toggle {background-position: 50% 50%;	background-repeat: no-repeat;display: block;}
.alatu-bar a:hover {background-color: #f4f4f4;}
.alatu-bar a:first-child {border-top-left-radius: 4px;border-top-right-radius: 4px;	}
.alatu-bar a:last-child {border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;border-bottom: none;}
.alatu-bar a.alatu-disabled {cursor: default;background-color: #f4f4f4;	color: #bbb;}

.alatu-control-zoom { border: 1px solid #999;}
.alatu-control-zoom-in,
.alatu-control-zoom-out {font: bold 18px 'Lucida Console', Monaco, monospace;text-indent: 1px;	}
.alatu-control-zoom-out {font-size: 20px;}